.DS_Store
node_modules/
dist/
.build/
# Serverless directories
.serverless/
.webpack

# local env files

semver.json
.env*
!.env.dist

*.tsbuildinfo

# Log files
*.log
*.old
*.map

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
